@import "../../cores/styles/default.scss";
.contact {
  margin-block: 1rem;

  &-title {
    margin-bottom: 1rem;
  }

  &-form {
    &-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;

      &-input {
        font-family: "Nunito Sans", sans-serif;
        padding: 0.25rem 0.5rem;
        letter-spacing: 1px;
        resize: none;
      }
    }
    &-btn {
      @include btn;
      &:hover {
        &::before, &::after  {
          height: 10%;
          opacity: 1;
        }
      }

      &::before {
        @include btnHover(0, auto, 0);
      }
      &::after {
        @include btnHover(auto, 0, 0);
      }
    }

    &-btn.lightMode {
      @include btn(black);
    }
  }
}
