<div class="contact">
  <h2 class="contact-title">Contact Me</h2>
  <form [formGroup]="form" class="contact-form">
    <div class="contact-form-container">
      <input
        class="contact-form-container-input"
        id="name"
        type="text"
        formControlName="name"
        placeholder="Name"
        required
      />
    </div>
    <div class="contact-form-container">
      <input
        class="contact-form-container-input"
        id="email"
        type="email"
        formControlName="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="contact-form-container">
      <textarea
        class="contact-form-container-input"
        name="subject"
        id="subject"
        cols="30"
        rows="10"
        formControlName="subject"
        placeholder="Type your messages..."
        required
      ></textarea>
    </div>
    <button
      [ngClass]="{ lightMode: currThemeDark.theme.currThemeDark }"
      class="contact-form-btn"
      (click)="onSend()"
    >
      Submit
    </button>
  </form>
</div>
