@import "./cores/styles/style.template.scss";

.main-container {
  background-color: black;
  color: #fff;
  width: 100%;
  height: 100rem;
}

.main-container.lightMode {
  background-color: white;
  color: #000;
}
.nav-container {
  z-index: 999;
  width: 100%;
}
.content-container {
  padding-top: 3rem;
  margin-inline: 1rem;
  margin-bottom: 72px;
}
