.nav-container {
  padding: 0;
  width: 0;
  height: 0;
}
.layout-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.container {
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding: 5rem 1rem;
}
.layout-container.lightMode {
  background-color: white;
  color: black;
}
@media screen and (min-width: 700px) {
  .container {
    width: 700px;
  }
}
