.main-container {
  background-color: black;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}
.main-container.lightMode {
  background-color: white;
  color: #000;
}
.nav-container {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
  background-color: inherit;
}
.content-container {
  margin-inline: 1rem;
  padding-block: 80px;
}
@media screen and (min-width: 700px) {
  .nav-container {
    width: 0;
    height: 0;
  }
  .content-container {
    width: 40rem;
    margin-inline: auto;
    display: flex;
  }
}

.img-1 {
  top: 5rem;
  left: 5rem;
  position: absolute;
  pointer-events: none;
  opacity: .5;
}
.img-2 {
  bottom: 50%;
  right: 0;
  position: absolute;
  opacity: 0.1;
  pointer-events: none;
}
