<div
  class="container"
  [ngClass]="{
    active: isActiveMenu,
    lightMode: currThemeDark.theme.currThemeDark
  }"
>
  <nav class="nav">
    <ul class="nav-list">
      @for(item of navList; track item.alt) {
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="item.pageRoute"
          (click)="onActiveMenu()"
          ><img src="{{ item.path }}" alt="{{ item.alt }}" class="nav-img" />
          <span class="nav-item-name">{{ item.alt | titlecase }}</span></a
        >
      </li>
      }

      <div class="screen"></div>
      <div class="camera"></div>
      <div class="speaker"></div>
      <div class="home-button"></div>
    </ul>
  </nav>

  <div class="menu-container" (click)="onActiveMenu()">
    <span class="menu"></span>
  </div>
</div>
