.container {
  margin-block: 1rem;
}
.project-container {
  margin-block: 1rem;
  display: grid;

  .project {
    border-radius: 5px;
    padding: 1rem;
    height: 13rem;
    width: 100%;
    border: 1px solid;
    margin-bottom: 0.5rem;

    &-title {
      height: 3rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-title {
      margin-bottom: 0.5rem;
    }

    &-techlist {
      display: flex;
      list-style: none;
      margin-top: auto;

      &-item {
        margin-right: .5rem;
      }

      &-icon {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (min-width: 550px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}