@import "../../../cores/styles/default.scss";

.container {
  &-intro {
    @include defaultIntro;
  }

  &-content {
    &-detail {
      @include detailsDefault;

      &:nth-child(odd) {
        background-color: #34495e;
      }

      &-img {
        @include detailsImgDefault(auto);
      }

      &-title {
        margin-bottom: 0.5rem;
      }

      &-info {
        letter-spacing: $letter-space-info;
      }
    }

    &-detail.lightMode {
      border: 1px solid #ddd;
      &:nth-child(odd) {
        background-color: #f4f4f4;
      }

      &:nth-child(even) {
        background-color: #e2f4ff;
      }
    }
  }

  &-tags {
    @include defaultTagStyles;
  }

  &-btn {
    @include btn;
  }
  &-btn.lightMode {
    @include btn(black);
  }
}
