<div class="container">
  <div class="container-intro">
    <h2 class="container-intro-title">{{ selectedData?.projectTitle }}</h2>
    <div class="container-intro-sub">
      <span class="container-intro-sub-title">Position</span>
      <span class="container-intro-sub-content">
        {{ selectedData?.position }}</span
      >
    </div>
    <div class="container-intro-sub">
      <span class="container-intro-sub-title">Date</span>
      <span class="container-intro-sub-content"> {{ selectedData?.date }}</span>
    </div>
    <div class="container-intro-sub">
      <span class="container-intro-sub-title">Type</span>
      <span class="container-intro-sub-content"> {{ selectedData?.type }}</span>
    </div>
  </div>
  <div class="container-content">
    @for(content of selectedData?.content; track content) {
    <div
      class="container-content-detail"
      [ngClass]="{ lightMode: currThemeDark.theme.currThemeDark }"
    >
      @if(content?.visuals) {
      <div
        class="container-content-detail-img"
        [ngStyle]="{ 'background-image': 'url(' + content.visuals + ')' }"
      ></div>
      }
      <h3 class="container-content-detail-title">{{ content.section }}</h3>
      <p class="container-content-detail-des">{{ content.description }}</p>
      <div class="container-content-detail-sub">
        @for(subs of content.subContent; track subs) {
        <h4 class="container-content-detail-sub-title">{{ subs.section }}</h4>
        <p-accordion>
          @for(innerSubs of subs.descriptions; track innerSubs) {
          <p-accordionTab header="{{ innerSubs.subSection }}">
            <p>{{ innerSubs.subDescription }}</p>
          </p-accordionTab>
          }
        </p-accordion>
        }
      </div>
    </div>
    } @empty {
    <div>No Content Updated</div>
    }
  </div>
  <div class="container-tags">
    <h4 class="container-tags-title">Tech Stack</h4>
    <ul class="container-tags-list">
      @for(stack of selectedData?.techStack; track stack) {
      <li class="container-tags-list-item">{{ stack }}</li>
      }
    </ul>
  </div>
  <button
    class="container-btn"
    [ngClass]="{ lightMode: currThemeDark.theme.currThemeDark }"
    (click)="onBack()"
  >
    Back
  </button>
</div>
