<!-- <p>navbar works!</p> -->
<div>
  <nav class="nav" *ngIf="menuState">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Resume</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container" (click)="onTrigger()">
  <div class="menu"></div>
</div>
