<p>home works!</p>

<!-- Introduction -->
<div class="intro">
  <div class="intro-duce">
    <h1 class="intro-title">Greetings Stranger! I'm Khant</h1>

    <!-- Make this changable -->
    <span class="intro-job-description">Fullstack Developer</span>
  </div>
  <div class="intro-content-one">
    <img src="" alt="" class="intro-img" />
  </div>
</div>

<!-- Summary -->
<div class="summary">
    <span class="summary-projects">
        
    </span>
  <span class="summary-detail">
    Passionate about creating meaningful digital experiences, I specialize in
    web development and design. With a keen eye for detail and a commitment to
    user-centric solutions, I bring ideas to life.</span
  >
</div>

<!-- Services Offers -->
<div class="services"></div>
