<div>
  <h2 class="blog-title">My Blogs</h2>

  <!-- Might change this later... For now it works -->
  <div class="blog-container">
    <div class="blog">
      <img
        class="blog-img"
        src="https://placekitten.com/400/200"
        alt="Blog Image"
      />
      <div class="blog-content">
        <h2 class="blog-title">Sample Blog Post</h2>
        <p class="blog-summary">
          This is a short summary of the blog post. It can contain a brief
          description of the content.
        </p>
      </div>
      <button (click)="onClick()" class="blog-btn">Read More</button>
    </div>
  </div>
</div>
