<div class="blog">
  <h2 class="blog-title">My Blogs</h2>
  <div class="blog-container">
    @for(blog of blogList; track blog.id) {
    <div class="blog-container-content">
      <div>
        <h3 class="blog-container-content-title">{{ blog.blogTitle }}</h3>
        <p class="blog-container-content-summary">{{ blog.summary }}</p>
      </div>
      <span class="blog-container-content-preview" (click)="onClick(blog.id)"
        >+</span
      >
    </div>
    } @empty {
    <div>Currently No Blog Available</div>
    }
  </div>
</div>
