$content-height: 13rem;
$hover-img-space: 1rem;

.blog {
  margin-block: 1rem;

  &-title {
    margin-bottom: 1rem;
  }

  &-container {
    &-content {
      padding: 1rem;
      height: $content-height;
      border: 1px solid;
      margin-bottom: 0.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      &:hover .blog-container-content-preview {
        transform: scale(1);
      }

      &-title {
        margin-bottom: 0.5rem;
      }

      &-summary {
        letter-spacing: 0.5px;
      }

      &-preview {
        position: absolute;
        cursor: pointer;
        margin-left: auto;
        border-radius: 50%;
        border: 1px solid;
        padding: 0.25rem 0.5rem;
        transform: scale(0);
        bottom: 1rem;
        right: 1rem;
        font-weight: bolder;
        transition: all ease-in-out .2s;
      }
    }
  }
}
@media screen and (min-width: 550px) {
  .blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
