.container {
  margin-block: 1rem;
}
.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 1rem;
  width: 100%;
  flex-wrap: wrap;

  .blog {
    height: 23rem;
    border: 1px solid;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &-img {
      width: 100%;
    }

    &-content {
      margin: 0.5rem 1rem;
    }

    &-title {
      margin-bottom: 0.5rem;
    }

    &-btn {
      position: absolute;
      bottom: 10px;
      right: 20px;
      cursor: pointer;
      padding: 0.25rem;
      border: none;
      outline: none;
      transform: translateY(-4px);
      box-shadow: inset 0 0 0 #ffe5c4, 0 4px 0 #915100;
      background-color: #ffa12b;

      &:active {
        transform: translateY(0);
        box-shadow: inset 0 0 0 #ffe5c4, 0 0 0 #915100;
      }

      &:hover {
        opacity: .7;
      }
    }
  }
}
@media screen and (min-width: 450px) {
  .blog-container {
    .blog {
      display: flex;
      height: 10rem;

      &-img {
        width: 50%;
      }
      &-content {
        width: 50%;
      }
    }
  }
}
@media screen and (min-width: 650px) {
  .blog-container {
    flex-direction: row;
    .blog {
      width: 49%;
      height: 20rem;
      flex-direction: column;
      &-img {
        width: 100%;
      }
      &-content {
        width: 90%;
      }
    }
  }
}
