@import "../../../cores/styles/default.scss";

.resume {
  &-container {
    &-title {
      margin-bottom: 0.5rem;
    }

    &-subtitle {
      margin-bottom: 0.25rem;
      text-decoration: underline;
    }

    &-experience {
      margin-bottom: 1rem;
      &-container {
        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }
      }
      
      &-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-list {
        list-style: inside;
        margin-left: 22px;
        font-size: 0.9rem;
        li {
          text-indent: -22px;
          letter-spacing: 0.5px;

          &:not(:last-child) {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}

.container-btn {
  @include btn;
}
.container-btn.lightMode {
  @include btn(black);
}
.special-text,
.highlight {
  font-style: italic;
}
.highlight {
  @include specialTxt;
}
hr {
  margin-block: 1rem;
  width: 75%;
  margin-inline: auto;
  border: dashed 1px;
}
