<p>projectlist works!</p>
<!-- On hover do a preview image -->
<div class="project-container">
  <div class="project">
    <h2 class="project-title">Project title</h2>
    <p class="project-summary">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus a, tempore
      possimus iure ipsam et minima quia sunt voluptate.
    </p>
    <!-- Tech Stack -->
    <ul>
      <li></li>
    </ul>
  </div>
</div>

<fa-icon class="icon" [icon]="faUnity"></fa-icon>
<fa-icon class="icon" [icon]="faHtml5"></fa-icon>
