<div class="container">
  <h1>Hello, I'm Khant</h1>
  @for(skill of skillRotate; track skill.id) {
  <span
    [style.opacity]="skill.id === currentIndex ? 1 : 0"
    [style.transition]="animationDuration + 's ease-in-out'"
    class="highlight"
    >{{ skill.skill | titlecase }}</span
  >
  }
</div>
<div>
  <span>Linkedin</span>
  <span>github</span>
  <span>mail</span>
</div>
<hr>
<!-- Do blog - simple blog with similar setup to projects-->
<!-- do projects - simple card with title and summary with tech list maybe a hover effect on project small design -->
<!-- Tech stack card with just the tech icon and tech name -->
<!-- resume link or resume design -->